#navbar{
    background-color: #C83B53;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 width: 28%;
 margin: auto;
 margin-top: 60px;
 display: grid;
outline: none;
font-size: 15px;
padding-right: 15px;

}
img{
    width:50px;
    padding:4px;
}




.topnav {
overflow: hidden;
background-color: #C83B53;
position: relative;
}

.topnav #myLinks {
display: none;
}


.topnav a {
color: white;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
background:#C83B53;
display: block;
position: relative;
right: 0;
top: 0;
}

.line{
width: 2px;
height: 17px;
background-color: aliceblue;
margin-left: 12%;
top: 20%;
left: 20%;
border-radius: 15px;

}
.para1{
margin-left: 25%;
text-align: justify;
margin-top: -15%;
}

.googlemap{
margin-left: 20%;
margin-top: -20%;

}